:host {
  display: block;
  width: 100%;
}

.task-form-container {
  max-width: 500px;
  margin: 0 auto;
}

.floating-field {
  position: relative;
}

.floating-field .form-label {
  margin-bottom: 0.25rem;
}

@media (max-width: 425px) {
  .task-form-container {
    max-width: 100%;
    padding: 0 0.25rem;
  }
}
